@import "catppuccin-mocha.css";

@define-color accent_color @rosewater;
@define-color accent_bg_color @surface0;
@define-color accent_fg_color @crust;
@define-color destructive_color @red;
@define-color destructive_bg_color @surface0;
@define-color destructive_fg_color @crust;
@define-color success_color @green;
@define-color success_bg_color @surface0;
@define-color success_fg_color @crust;
@define-color warning_color @yellow;
@define-color warning_bg_color @surface0;
@define-color warning_fg_color @crust;
@define-color window_bg_color @base;
@define-color window_fg_color @text;
@define-color view_bg_color @mantle;
@define-color view_fg_color @text;
@define-color headerbar_bg_color @base;
@define-color headerbar_fg_color @text;
@define-color headerbar_border_color @overlay0;
@define-color headerbar_backdrop_color @crust;
@define-color headerbar_shade_color rgba(0,0,0,0.36);
@define-color card_bg_color @surface0;
@define-color card_fg_color @text;
@define-color card_shade_color rgba(0,0,0,0.36);
@define-color dialog_bg_color @surface0;
@define-color dialog_fg_color @text;
@define-color shade_color rgba(0,0,0,0.36);
@define-color scrollbar_outline_color @overlay0;
@define-color sidebar_bg_color @crust;
@define-color sidebar_fg_color @text;
@define-color sidebar_backdrop_color @base;
@define-color sidebar_shade_color rgba(0,0,0,0.25);

* {
  -accent-color: @accent_color;
  -accent-bg-color: @accent_bg_color;
  -accent-fg-color: @accent_fg_color;
  -destructive-color: @destructive_color;
  -destructive-bg-color: @destructive_bg_color;
  -destructive-fg-color: @destructive_fg_color;
  -success-color: @success_color;
  -success-bg-color: @success_bg_color;
  -success-fg-color: @success_fg_color;
  -warning-color: @warning_color;
  -warning-bg-color: @warning_bg_color;
  -warning-fg-color: @warning_fg_color;
  -window-bg-color: @window_bg_color;
  -window-fg-color: @window_fg_color;
  -view-bg-color: @view_bg_color;
  -view-fg-color: @view_fg_color;
  -headerbar-bg-color: @headerbar_bg_color;
  -headerbar-fg-color: @headerbar_fg_color;
  -headerbar-border-color: @headerbar_border_color;
  -headerbar-backdrop-color: @headerbar_backdrop_color;
  -headerbar-shade-color: @headerbar_shade_color;
  -card-bg-color: @card_bg_color;
  -card-fg-color: @card_fg_color;
  -card-shade-color: @card_shade_color;
  -dialog-bg-color: @dialog_bg_color;
  -dialog-fg-color: @dialog_fg_color;
  -shade-color: @shade_color;
  -scrollbar-outline-color: @scrollbar_outline_color;
  -sidebar-bg-color: @sidebar_bg_color;
  -sidebar-fg-color: @sidebar_fg_color;
  -sidebar-backdrop-color: @sidebar_backdrop_color;
  -sidebar-shade-color: @sidebar_shade_color;
}
